body{
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    font-family: "Montserrat";
    background: rgba(8,11,30,1);
    background-image: url('../img/light.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  
.box {
    color: #fff;
    display: block;
    /* height: var(--tg-viewport-stable-height, 70vh); */
    text-align: center;
    height: 100vh;
}

.item {
    height: 90%;
    width: 100%;
}

.item-text {
    margin-top: 9%;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
    margin-bottom: 0;
}

.navBox {
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

.crypto {
    background: rgba(170,62,166,1);
    background-image: linear-gradient(138deg, rgba(170,62,166,1) 0%, rgba(87,170,211,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    margin: auto;
    margin-right: 7px;
    font-size: 26pt;
}

.halal {
    margin: auto;
    margin-left: 7px;
    font-size: 26pt;
}

h4 {
    font-family: 'Jost', sans-serif;
    letter-spacing: 5px;
    margin-bottom: 35px;
}

.support_btn {
    background: rgba(170,62,166, 0.5);
    background: linear-gradient(138deg, rgba(170,62,166,0.6) 0%, rgba(87,170,211,0.6) 100%);
    border-radius: 10px;
    display: block;
    width: 180px;
    height: 60px;
    margin: auto;
}

.btn {
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
    letter-spacing: 3px;
    line-height: 60px;
}
