body{
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    font-family: "Montserrat";
  }
  
  .box {
      color: #fff;
      font-size:  2rem;
      display: block;
      height: 97vh;
  }
  
  .item {
      height: 100%;
      width: 100%;
      text-align: center;
  }
  
  .item:nth-child(1) {
      background-color: tomato;
  }
.item:nth-child(2) {
      background-color: aqua;
  }
