body{
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  font-family: "Montserrat";
}

.box {
    color: #fff;
    font-size:  2rem;
    width:  393px;
    height: 449px;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

.item {
    height: 100%;
    width: 100%;
    text-align: center;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.item:nth-child(1) {
    background-color: tomato;
}

.item:nth-child(2) {
    background-color: aqua;
}

.item:nth-child(3) {
    background-color: maroon;
}

.item:nth-child(4) {
    background-color: teal;
}
