body{
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    font-family: "Montserrat";
  }
  
  .box {
      color: #000;
      font-size:  30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      height: var(--tg-viewport-stable-height, 80vh);
  }
  
  .item {
      width: 100%;
      height: 100%;
      text-align: center;
  }
